*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body{
    background-color:whitesmoke;
    margin-top: 90px;
     
}

html{
    scroll-behavior: smooth;
}

.navbar{
    height: 70px;
    padding: 0 45px;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
    color: black;
}

.links{
   list-style: none;
   display: flex;
   gap: 60px;
 
}

.navbar a{
    text-decoration: none;
}

.links a{
    text-decoration: none;  
    color:black;
    font-weight: 500;
}

.book{
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 10px 30px;
}

.logo{
 
    size:155px;
}
.hero {
    width: 100%;
    min-height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px 0 20px;
}
 
.hero-image {
    width: 48%;
    height: calc(100vh - 85px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: contain;
}

.hero-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}
 
.intro {
    font-size: 22px;
    margin-bottom: 5px;
}
 
.hero-content h1 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 700;
}
 
.summary {
    font-size: 18px;
    line-height: 1.7;
    max-width: 550px;
    color: #333;
    margin-bottom: 30px;
}
 
.hero-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.connect-btn,.resume-btn {
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 25px;
    font-size: 16px;
}

.connect-btn {
    background-color: black;
    color: white;
}

.resume-btn {
    border: 1px solid black;
    color: black;
}
 